* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 300px;
}
.banner {
    width: 100%;
}

.titulares {
    font-size: 24px;
    color: #666;
    ;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    ;
}

.descripciones {
    font-size: 16px;
}

.img-index {
    width: 350px;
}

main {
    text-align: center;
    background-color: #ebebeb;
}

footer {
    background-color: white;
    text-align: center;
}

#icon-footer {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    border-radius: 4px;
    width: 15px;
}

#header {
    background-color: #EAC926;
}

#texto-header {
    text-align: center;
}