* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: #EAC926;
    margin: auto;
}
.contenedor-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
}
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.logo{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    width: 300px;
}
.buscador {
    display: flex;
    align-items: center;
}
.listas {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.listas ul {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
}

.listas li {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listas a {
    text-decoration: none;
    color: #222222;
    padding: 5px 0;
    font-size: 14px;
}
/*SECTION*/
.seccion1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*PRODUCTOS*/
.contenedor-productos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.img-productos{
    width: 200px; 
    border-bottom: solid #ebebeb 1px;
}
.cuerpo-de-texto {
    font-size: 12px;
    color: #666;
}
.titulares{
    font-size: 24px;
    margin-left: 1rem;
    color: #666;;
}
.precio {
    font-size: 18px;
}
.descuentos, .descripcion-producto {
    font-size: 16px;
}
.contenedor-camion{
    background-color: white;
}
.descuento, .logo-camion{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.descuento{
    position: relative;
}
/*BURGEN MENU*/
.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.burger-menu i {
    border: solid #1259c3;
    border-radius: 5px;
    padding: 10px;
    background-color: #1259c3;
    color: white;
}
/*BANNER*/
.img-banner{
    max-width: 100%;
    height: auto;
}

/* FOOTER */
footer {
    background-color: white;
    width: 100%;
    padding: 10px;
}

#icon-footer {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.secciones-footer {
    text-align: center;
    padding: 0 10px;
}

/*MEDIA QUERYS*/
@media (min-width: 720px) {
    .burger-menu {
        display: none;
    }

    .listas {
        display: flex;
    }
}